@model int
<h2>Order Completed</h2>
<p>Your order with ID @Model has been placed successfully.</p>
<a class="btn btn-danger" asp-area="" asp-action="Index" asp-controller="Product"> Return to Product Display</a>